/* CONFIGURAÇÃO GERAL */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
    height:100%;
}



a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

a.botao{
  display: inline-block;
  padding: 5px 10px;
  border-radius: 8px;
  color: white;
  background-color: #47a09b;
}
a.botao:hover{
  color: #FFF;
  text-decoration: none;
  background-color: #f55f63;
}



h2{
  padding-bottom: 2%;
}
p{
  padding: 0.5% 0;
}

body{
  background-color: #708090;
  height:100%;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size:calc(8px + 1vw);
  list-style: 1.1em;
}

#container{
  height:100%;
  min-height: 100vh;
  min-width: 480px !important;
  position: relative;
}

#game_board {
  background-color: #EC6263;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100vw;
  min-width: 480px !important;
  max-height: 90vh;
  aspect-ratio: 16/9;
  box-shadow: 0 0 100px 0 rgba(0,0,0,0.25);
}



/*FRAMES DO JOGO */
.frame{
  display: none;
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  position: relative;
  overflow: hidden;
}
  


/* ELEMENTOS GERAIS */
.jackat{
  position: absolute;
  width: 16%;
  height: 23%;
  background-image: url("../images/jackat5.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position:bottom;
  bottom: 17%;
  left: 10%;
  z-index:10;
}

.jackat.parado{
  background-image: url("../images/jackat-normal.gif");
  width: 14% !important;
}

.jackat.gameover{
  background-image: url("../images/jackat-assustado.gif") !important;
  z-index:13;
  width: 23% !important;
  height: 30% !important;
  left: 5%;
}

.jackat.frozen{
  background-image: url("../images/jackat-congelado.gif") !important;
  width: 20% !important;
}


.rato{
  position: absolute;
  width: 20%;
  aspect-ratio: 2/1.3;
  background-image: url("../images/rato.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position:bottom;  
  bottom: 10%;
  left: -20%;
  z-index: 11;
}



/* MOVIMENTOS */
.jackat-jump{
  width: 16% !important;
  height: 22% !important;
  background-image: url("../images/jackat-pulando.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position:bottom;
}



/* ABERTURA */
#fr_abertura{
  text-align: center;  
  position:relative;
}
#abertura{
  position: absolute;
  z-index:10;
  width:57%;
  height: 55%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/abertura-box.png");
  background-repeat: no-repeat;
  background-size:contain;
}
#abertura h1 {
  padding-top:5%;
}
#abertura h1 img{
  width:93%;
}

#abertura .texto{
  padding: 5%;
  width: 100%;
  height: 33%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  z-index: 11;
}

#bt_next{
  flex: 0 0 8%;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden; 
}

#bt_next img{
  width: 100%;
}

#pText{
  padding: 0 4%;
}

#bt_back{
  flex: 0 0 8%;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden; 
  visibility: hidden;
}
#bt_back img{
  width: 100%;
  transform: scaleX(-1);
}
#bt_start{
  height: 12%;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden; 
}
#bt_start img{
  height: 100%;
}

#fr_abertura .caixa_tras{
  position:absolute;
  background-image: url("../images/casinha_tras.png");
  z-index:8;  
  width:100%;
  height:100%;
  
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: cover;
}
#fr_abertura .caixa_frente{
  position:absolute;
  background-image: url("../images/casinha_frente.png");
  z-index:9;
  width:100%;
  height:100%;
  
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: cover;
}

#fr_abertura #menu{
  position:absolute;
  z-index:10;
  width:100%;
  height:5%;
  padding: 0 1vw;
  bottom: 0;
  text-align: end;
  color: #FFF;
  font-size: 1vw;
}
#fr_abertura #menu a{
  color: inherit;
}


/* PARTIDA */
#cenario_partida .bg_ceu{
  background-image: url("../images/ceu_primavera.png");
}
#cenario_partida .bg_cenario{
  background-image: url("../images/cenario_primavera.png");
}


#partida{
  position:relative; 
  width:100%;
  height:100%;  
}

#partida .caixa_tras, #fr_missao #cenario_primavera .caixa_tras{
  position:absolute;
  background-image: url("../images/casinha_tras.png");
  z-index:10;  
  width:100%;
  height:100%;
  
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: cover;
}

#partida .caixa_frente{
  position:absolute;
  background-image: url("../images/casinha_frente.png");
  z-index:13;
  width:100%;
  height:100%;
  
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: cover;
}



/* MISSÃO */
#fr_missao{  
  width:100%;
  height:100%;
}

#placar{  
  position: relative;
  width: 22%;
  aspect-ratio: 38/7;
  left: calc(78% - 1vw);
  top: 1vw;
  background-image: url("../images/placar.png");
  background-repeat: no-repeat;
  background-size:100%;
  background-position-y: center;
  z-index: 20;
}
#placar #placar_preenchimento{
  position: absolute;
  width: 96%;
  height: 40%;
  top: 26%;
  left: 2%;
}
#placar #placar_preenchimento #placar_mascara{
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

.estacao{ 
  width:100%;
  height:100%;  
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;     
  transition: opacity 2s; 
}
.estacao.current{
  opacity: 1 !important;
}
.estacao div{
  width:100%;
  height:100%;
  
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: cover;
  
  position: absolute;
  top:0;
  left:0;
}

.bg_ceu{
  z-index: 0;
}
.bg_predios{
  background-image: url("../images/cidade.png");
  z-index: 1;
}
.bg_cenario{
  z-index: 2;
}


/* Cenário primavera */
#cenario_primavera{
  right: auto;
}
#cenario_primavera .bg_ceu{
  background-image: url("../images/ceu_primavera.png");
}
#cenario_primavera .bg_cenario{
  background-image: url("../images/cenario_primavera.png");
}

/* Cenário verão */
#cenario_verao .bg_ceu{
  background-image: url("../images/ceu_verao.png");
}
#cenario_verao .bg_cenario{
  background-image: url("../images/cenario_verao.png");
}

/* Cenário outono */
#cenario_outono .bg_ceu{
  background-image: url("../images/ceu_outono.png");
}
#cenario_outono .bg_cenario{
  background-image: url("../images/cenario_outono.png");
}

/* Cenário inverno */
#cenario_inverno .bg_ceu{
  background-image: url("../images/ceu_inverno.png");
}
#cenario_inverno .bg_cenario{
  background-image: url("../images/cenario_inverno.png");
}



/* OBSTÁCULOS */
.obstaculo{
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position:bottom;
  z-index:12;
}

.cachorro{  
  width: 13%;
  aspect-ratio: 2/1;
  background-image: url("../images/cachorro.png");
  bottom: 17%;
}

.balao{
  width: 8%;
  aspect-ratio: 1/1.75;
  background-image: url("../images/balao.png");
  bottom: 55%;
}
.balao.estourado{
  background-image: url("../images/balao_estourando.png");
}

.passaro{
  width: 10%;
  aspect-ratio: 1/1;
  background-image: url("../images/passaro.gif");
  bottom: 68%;
}

.floco_neve{
  width: 8%;
  aspect-ratio: 1/1;
  background-image: url("../images/floco_neve.png");
  bottom: 60%;
}

.boneco_neve_1{
  width: 16%;
  aspect-ratio: 2/1.3;
  background-image: url("../images/boneco_neve_1.png");
  bottom: 17%;
}

.boneco_neve_2{
  width: 11%;
  aspect-ratio: 1/1.3;
  background-image: url("../images/boneco_neve_2.png");
  bottom: 17%;
}



/* PRÊMIOS */
.novelo{
  position: absolute;
  width: 9%;
  aspect-ratio: 2/1.4;  
  background-size: contain;
  background-repeat: no-repeat;
  background-position:bottom;
  bottom: 15%;
  left: 100%;
  z-index:9;
}
.novelo.azul{
  background-image: url("../images/novelo_azul.png");
}
.novelo.laranja{
  background-image: url("../images/novelo_laranja.png");
}
.novelo.rosa{
  background-image: url("../images/novelo_rosa.png");
}
.novelo.verde{
  background-image: url("../images/novelo_verde.png");
}


/* GAME OVER */
#gameover_screen{
  position: absolute;
  z-index:30;
  width:57%;
  height: 55%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/tela_voce_perdeu.png");
  background-repeat: no-repeat;
  background-size:contain;
  display: none;
}
#gameover_screen .btn{
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translateX(-50%);
}



/* WIN */
#win_screen{
  position: absolute;
  z-index:30;
  width:57%;
  height: 55%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/tela_voce_venceu.png");
  background-repeat: no-repeat;
  background-size:contain;
  display: none;
}
#win_screen .btn{
  position: absolute;
  top: 80%;
  left: 39%;
  transform: translateX(-50%);
}



/* FINAL */
#cenario_final .bg_ceu_final{
  background-image: url("../images/ceu_inverno.png");
}
#cenario_final .bg_predios_final{
  background-image: url("../images/cidade.png");
}
#cenario_final .bg_cenario_final{
  background-image: url("../images/cenario_inverno.png");
}

#cenario_final div{
  width:100%;
  height:100%;
  
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: cover;
  
  position: absolute;
  top:0;
  left:0;
}

#final{
  position:absolute; 
  width:100%;
  height:100%;
  top: 0;
  display: none;
}

#final .caixa_tras{
  position:absolute;
  background-image: url("../images/casinha_final_tras.png");
  z-index:9;  
  width:100%;
  height:100%;
  
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: cover;
}

#final .caixa_frente{
  position:absolute;
  background-image: url("../images/casinha_final_frente.png");
  z-index:13;
  width:100%;
  height:100%;
  
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: cover;
}



/* PÁGINAS DE CONTEUDOS */
.page{
  padding: 6%;
  height: 100%;
  overflow-y: auto;
}
.page .pg_logo{
  padding-bottom: 3%;
}
.page .pg_logo img {
  width: 40%;
}